.title-container {
  font-size: 14px;
  font-weight: bold;
}

.description {
  font-size: 12px;
}

.common-btn {
  width: fit-content;
  margin: 10px 0px;
}

.control-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
